<a href="/new_actor_form">Add New Actor</a>

<table>

  <% @actors.each do |actor| %>
  <tr>
    <td><%= actor.name %></td>
    <td><%= actor.bio %></td>
    <td><%= actor.dob %></td>
    <td><img src="<%= actor.image_url %>" width="80"></td>
    <td><a href="/actors/<%= actor.id %>">Info</a></td>
    <td><a href="/edit_actor_form/<%= actor.id %>">Edit</a></td>
    <td><a href="/delete_actor/<%= actor.id %>">Delete</a></td>
  </tr>
  <% end %>

</table>
